.shopcategory-banner {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 82%;
    font-size: 11vw;
    font-weight: bold;
    color: #fff;
    img {
    }
}
.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    // justify-content: space-between;
    justify-content: end;
    align-items: center;
    position: relative;
    p span {
        font-weight: 600;
    }
    .shopcategory-sort {
        padding: 10px 20px;
        cursor: pointer;
    }
    .shopcategory-sort-menu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        border: 1px solid #888;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
    .shopcategory-sort-menu-item {
        display: flex;
        flex-direction: row;
        flex: nowrap;
        text-align: center;
        padding-left: 5px;
        .check-icon {
            margin-left: 8px;
            margin-top: 4px;
            margin-right: 4px;
        }
        &:hover {
            cursor: pointer;
            background-color: #d6d6d6;
            color: #333;
        }
    }
}
.shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}
@media (min-width: 1281px) {
    .shopcategory-sort-menu {
        width: 180px;
    }
}
@media (max-width: 1280px) {
    .shopcategory-banner {
    }
    .shopcategory-indexSort {
        width: 90%;
        margin: auto;
        p {
            font-size: 12px;
        }
    }
    .shopcategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }

    .shopcategory-sort-menu {
        width: 140px;
        font-size: 12px;
    }

    .shopcategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
        .item {
            margin: auto;
        }
    }
    .shopcategory-loadmore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    .shopcategory-banner {
        margin-top: 5vw;
        img {
            max-width: 200px;
        }
    }
    .shopcategory-products {
        width: 95%;
    }
    .shopcategory-loadmore {
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
@media (max-width: 500px) {
    .shopcategory-products {
        grid-template-columns: 1fr 1fr;
    }
    .shopcategory-banner {
        margin-top: 5vw;
        width: 100%;
    }
}
