.store_wrap {
    margin-top: 15px;
    /* border: rgb(255, 0, 0) 3px solid; */
  }

  .store_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 4vw;
    padding-top: 0;
  }


  .store_top .text_right {
    display: flex;
    font-size: min(1.2vw, 16px);
    gap: 2vw;
  }

  .store_top .text_right li {
    text-decoration: none;
    list-style: none;
    line-height: 2.6em;
    border-bottom: 1px solid rgb(161, 161, 161);
  }

  .store_top a {
    text-decoration: none;
    color: #000;
  }

  .store_top a:hover {
    color: #000;
  }

  /* =================storeitem_top=================== */

  .item_top {
    display: flex;
    flex-wrap: wrap;
    padding: 4vw;
    gap: 2vw;
  }

  .item_top a {
    text-decoration: none;
    color: #000;
  }
  .item_top a:hover {
    color: #000;
  }

  .item_top a:hover .content .far {
    color: #ff0000;
  }
  .item_top .item_1 {
    width: 29%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .item_top .item_1 .text {
    font-size: 3.3vw;
    padding: 6vw;
  }
  .item_top .item_1 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }

  .item_top .item_1 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 14px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------2-------------- */
  .item_top .item_2 {
    width: 68%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .item_top .item_2 .text {
    font-size: 3.3vw;
    padding: 6vw;
  }
  .item_top .item_2 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_top .item_2 .photo img {
    max-height: 18em;
  }

  .item_top .item_2 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 14px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------3-------------- */
  .item_top .item_3 {
    width: 49%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .item_top .item_3 .text {
    font-size: 3.3vw;
    padding: 3.2vw;
  }
  .item_top .item_3 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_top .item_3 .photo img {
    max-height: 12em;
  }

  .item_top .item_3 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 14px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }

  /* ------------4-------------- */
  .item_top .item_4 {
    width: 48%;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .item_top .item_4 .text {
    font-size: 3.3vw;
    padding: 3.2vw;
  }
  .item_top .item_4 .box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8.5em;
  }
  .item_top .item_4 .photo img {
    max-height: 12em;
  }

  .item_top .item_4 .box .content {
    padding: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 14px;
    background-color: #f4f5f6;
  }
  .content p {
    margin: 0;
  }
  .content .far {
    padding: 0;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: 0;
    color: #000;
    font-size: 1em;
  }


  /* ==============store_button================ */

  .store_button {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 4vw;
    gap: 2vw;
  }

  .store_button .a1 {
    text-decoration: none;
  }

  .store_button .a1:hover {
    color: rgb(255, 255, 255);
  }

  .store_button .a1 {
    width: 49%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .store_button .a1 .item_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
  }

  .store_button .item_1 .text01 {
    font-size: 3vw;
  }

  .store_button .a2 {
    text-decoration: none;
  }

  .store_button .a2:hover {
    color: rgb(0, 0, 0);
  }

  .store_button .a2 {
    width: 49%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
  }

  .store_button .a2 .item_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .store_button .item_1 .text01 {
    font-size: 3vw;
  }

@media screen and (min-width: 576px) and (max-width: 1199.98px) {

    .store_wrap {
        margin-top: 60px;
        /* border: rgb(255, 0, 0) 3px solid; */
    }

    .store_top {
        /* display: flex;
        justify-content: space-between;
        align-items: flex-end; */

        padding: 4vw;
        padding-top: 0;
    }



    .store_top .text_right {
        display: flex;
        font-size: min(1.2vw, 16px);
        gap: 2vw;
        padding-top: 4vw;
    }

    .store_top .text_right li {
        text-decoration: none;
        list-style: none;
        line-height: 2.6em;
        border-bottom: 1px solid rgb(161, 161, 161);
    }

    .store_top a {
        text-decoration: none;
        color: #000;
    }

    .store_top a:hover {
        color: #000;
    }

    /* =================storeitem_top=================== */

    .item_top {
        display: flex;
        flex-wrap: wrap;
        padding: 4vw;
        gap: 2vw;
    }

    .item_top a {
        text-decoration: none;
        color: #000;
    }
    .item_top a:hover {
        color: #000;
    }

    .item_top a:hover .content .far {
        color: #ff0000;
    }
    .item_top .item_1 {
        width: 29%;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .item_top .item_1 .text {
        font-size: 3.3vw;
        padding: 3vw;
    }
    .item_top .item_1 .box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.5em;
    }

    .item_top .item_1 .box .content {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: 14px;
        background-color: #f4f5f6;
    }
    .content p {
        margin: 0;
    }
    .content .far {
        padding: 0;
        padding-left: 1em;
        padding-top: 0.2em;
        margin: 0;
        color: #000;
        font-size: 1em;
    }

    /* ------------2-------------- */
    .item_top .item_2 {
        width: 68%;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .item_top .item_2 .text {
        font-size: 3.3vw;
        padding: 3vw;
    }
    .item_top .item_2 .box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.5em;
    }
    .item_top .item_2 .photo img {
        max-height: 12em;
    }

    .item_top .item_2 .box .content {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: 14px;
        background-color: #f4f5f6;
    }
    .content p {
        margin: 0;
    }
    .content .far {
        padding: 0;
        padding-left: 1em;
        padding-top: 0.2em;
        margin: 0;
        color: #000;
        font-size: 1em;
    }

    /* ------------3-------------- */
    .item_top .item_3 {
        width: 49%;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .item_top .item_3 .text {
        font-size: 3.3vw;
        padding: 3.2vw;
    }
    .item_top .item_3 .box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.5em;
    }
    .item_top .item_3 .photo img {
        max-height: 10em;
    }

    .item_top .item_3 .box .content {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: 14px;
        background-color: #f4f5f6;
    }
    .content p {
        margin: 0;
    }
    .content .far {
        padding: 0;
        padding-left: 1em;
        padding-top: 0.2em;
        margin: 0;
        color: #000;
        font-size: 1em;
    }

    /* ------------4-------------- */
    .item_top .item_4 {
        width: 48%;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .item_top .item_4 .text {
        font-size: 3.3vw;
        padding: 3.2vw;
    }
    .item_top .item_4 .box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.5em;
    }
    .item_top .item_4 .photo img {
        max-height: 10em;
    }

    .item_top .item_4 .box .content {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: 14px;
        background-color: #f4f5f6;
    }
    .content p {
        margin: 0;
    }
    .content .far {
        padding: 0;
        padding-left: 1em;
        padding-top: 0.2em;
        margin: 0;
        color: #000;
        font-size: 1em;
    }

    /* ==============store_button================ */

    .store_button {
        display: flex;
        /* flex-wrap: wrap; */
        padding: 4vw;
        gap: 2vw;
    }

    .store_button .a1 {
        text-decoration: none;
    }

    .store_button .a1:hover {
        color: rgb(255, 255, 255);
    }

    .store_button .a1 {
        width: 49%;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
    }

    .store_button .a1 .item_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }

    .store_button .item_1 .text01 {
        font-size: 3vw;
    }

    .store_button .a2 {
        text-decoration: none;
    }

    .store_button .a2:hover {
        color: rgb(0, 0, 0);
    }

    .store_button .a2 {
        width: 49%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
    }

    .store_button .a2 .item_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .store_button .item_1 .text01 {
        font-size: 3vw;
    }
}

@media screen and (max-width: 575.98px) {
    .store_wrap {
        padding-top: 50px;
        /* border: rgb(255, 0, 0) 3px solid; */
      }
    
      .store_top {
        /* display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border: #000 1px solid; */
        padding: 4vw;
        padding-top: 0;
      }
    
      
    
      .store_top .text_right {
        /* display: flex; */
        font-size: min(3.2vw, 16px);
        padding-top: 4vw;
        letter-spacing: 0.15em;
        /* gap: 2vw; */
      }
    
      .store_top .text_right li {
        text-decoration: none;
        list-style: none;
        padding-top: 2vw;
        line-height: 2.6em;
        border-bottom: 1px solid rgb(161, 161, 161);
      }
    
      .store_top a {
        text-decoration: none;
        color: #000;
      }
    
      .store_top a:hover {
        color: #000;
      }
    
      /* =================storeitem_top=================== */
    
      .item_top {
        display: flex;
        flex-wrap: wrap;
        padding: 4vw;
        /* gap: 4vw; */
      }
    
      .item_top a {
        text-decoration: none;
        color: #000;
      }
      .item_top a:hover {
        color: #000;
      }
    
      .item_top a:hover .content .far {
        color: #ff0000;
      }
      .item_top .item_1 {
        width: 100%;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
      }
    
      .item_top .item_1 .text {
        font-size: 4vw;
        padding: 6vw;
      }
      .item_top .item_1 .box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.5em;
      }
    
      .item_top .item_1 .box .content {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: 12px;
        background-color: #f4f5f6;
      }
      .content p {
        margin: 0;
      }
      .content .far {
        padding: 0;
        padding-left: 1em;
        padding-top: 0.2em;
        margin: 0;
        color: #000;
        font-size: 1em;
      }
    
      /* ------------2-------------- */
      .item_top .item_2 {
        width: 100%;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
      }
    
      .item_top .item_2 .text {
        font-size: 4vw;
        padding: 6vw;
      }
      .item_top .item_2 .box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.5em;
      }
      .item_top .item_2 .photo img {
        max-height: 18em;
      }
    
      .item_top .item_2 .box .content {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: 12px;
        background-color: #f4f5f6;
      }
      .content p {
        margin: 0;
      }
      .content .far {
        padding: 0;
        padding-left: 1em;
        padding-top: 0.2em;
        margin: 0;
        color: #000;
        font-size: 1em;
      }
    
      /* ------------3-------------- */
      .item_top .item_3 {
        width: 100%;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
      }
    
      .item_top .item_3 .text {
        font-size: 4vw;
        padding: 3.2vw;
      }
      .item_top .item_3 .box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.5em;
      }
      .item_top .item_3 .photo img {
        max-height: 12em;
      }
    
      .item_top .item_3 .box .content {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: 12px;
        background-color: #f4f5f6;
      }
      .content p {
        margin: 0;
      }
      .content .far {
        padding: 0;
        padding-left: 1em;
        padding-top: 0.2em;
        margin: 0;
        color: #000;
        font-size: 1em;
      }
    
      /* ------------4-------------- */
      .item_top .item_4 {
        width: 100%;
        background-color: #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 20px;
      }
    
      .item_top .item_4 .text {
        font-size: 4vw;
        padding: 3.2vw;
      }
      .item_top .item_4 .box {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 8.5em;
      }
      .item_top .item_4 .photo img {
        max-height: 12em;
      }
    
      .item_top .item_4 .box .content {
        padding: 1vw 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid red; */
        font-size: 12px;
        background-color: #f4f5f6;
      }
      .content p {
        margin: 0;
      }
      .content .far {
        padding: 0;
        padding-left: 1em;
        padding-top: 0.2em;
        margin: 0;
        color: #000;
        font-size: 1em;
      }
      /* ==============store_button================ */
    
      .store_button {
        display: flex;
        /* flex-wrap: wrap; */
        padding: 4vw;
        /* gap: 2vw; */
      }
    
      .store_button .a1 {
        text-decoration: none;
        margin-right: 10px;
      }
    
      .store_button .a1:hover {
        color: rgb(255, 255, 255);
      }
    
      .store_button .a1 {
        width: 49%;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
      }
    
      .store_button .a1 .item_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
      }
    
      .store_button .item_1 .text01 {
        font-size: 3vw;
      }
    
      .store_button .a2 {
        text-decoration: none;
      }
    
      .store_button .a2:hover {
        color: rgb(0, 0, 0);
      }
    
      .store_button .a2 {
        width: 49%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: rgb(0, 0, 0);
      }
    
      .store_button .a2 .item_1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    
      .store_button .item_1 .text01 {
        font-size: 3vw;
      }
}