.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px 45px;
    box-shadow: 0 1px 3px -2px black;
    position: sticky; /* 使用 sticky 而不是 fixed */
    top: 0; 
    z-index: 20;
    background-color: white;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    color: #050505;
    font-size: 30px;
    font-weight: 600;
}
.nav-logo img{
    max-width: 50px;
} 
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #101010;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #8cacf2;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
    .cart{
        
        img{
            max-width: 30px;
        }
        .nav-cart-count{
            position: absolute;
            top: 32px;
            left: 62px;
        }
    }
    
}

.nav-cart-count{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -43px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.nav-dropdown{
    display: none;
}
@media(max-width: 1280px){
    .navbar{
        padding: 12px 50px;
    }
    .nav-logo p{
        font-size: 25px;
    }
    .nav-logo img{
        width: 40px;
    }
    .nav-menu{
        gap: 30px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap: 30px;
    }
    .nav-login-cart button{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width: 1024px){
    .navbar{
        padding: 12px 30px;
    }
    .nav-menu{
        gap:25px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width: 18px;
        height: 18px;
    }
}
@media(max-width:800px){
    .navbar{
        padding: 10px 0px;
    }
    .nav-dropdown{
        display: block;
        width: 30px;
        transition: 0.5s;
        margin-left: -4em;
    }
    .nav-menu{
        display: none; 
        height: 80px;
        width: 100%;
        position: absolute;
        background-color: white;
        justify-content: center;
        top: 50px;
    }
    .nav-login-cart{
        .cart{
            position: absolute;
            left: -28px;
            img{
                transform: scale(.9);
            }
            .nav-cart-count{
                top: 29px;
                left:58px;
            }

        }
        button{
            left: 0px;
            width: 60px;
        }
    }
    .nav-menu-visible{
        display: flex;
        padding: 0;
    }
    .nav-dropdown.open{
        transform: rotate(90deg);
    }
}
@media(max-width: 500px){
    .navbar{
        padding: 8px 0;
        gap: 0;
    }
    .nav-logo{
        transform: scale(.8);
        margin-top: 5px;
    }
    .nav-menu{
        height: 70px;
        top: 50px;
    }
    .nav-login-cart{
        .cart{
            position: absolute;
            left: -28px;
            img{
                transform: scale(.9);
            }
            .nav-cart-count{
                top: 29px;
                left:58px;
            }

        }
        button{
            left: 0px;
            width: 60px;
        }
    }
}